body {
  background: linear-gradient(
    120deg,
    rgb(253, 253, 253) 60%,
    rgb(25, 141, 250) 85%
  );
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}
